name: Cache Dependencies

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-aa1ce0e

      - name: prime-cache-aa1ce0e
        run: echo "Cache hit? ${{ steps.cache-deps.outputs.cache-hit }}"
